rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Users can only read, write, and delete files within their user-specific folder.
    // The path is /users/{userId}/{filePath}
    match /users/{userId}/{allPaths=**} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
